body {
      margin: 0;
      font-family: sans-serif;
    }
    .menu {
      display: flex;
      width: 300px;
      background: #e3e3e3;
      padding: 20px;
      gap: 10px;
      margin-top: 5px;
    }
    .menu button {
      display: flex;
      background: #c5c5c5;
      color: #000000;
      border: none;
      padding: 10px;
      cursor: pointer;
      width: 120px;
      margin-left: 140px;
    }
    .menu a {
      text-decoration: none;
      color: #333;
      padding: 10px;
      border-radius: 5px;
    }
    .menu2{
      display: flex;
      width: 300px;
      background: #c5c5c5;
      padding: 20px;
      gap: 10px;
      margin-top: 5px;
    }
    .menu2 button {
      display: flex;
      background: #ffffff;
      color: #000000;
      border: none;
      padding: 10px;
      cursor: pointer;
      margin-left: 135px;
      text-align: center;
      width: 120px;
    } 
    .menu2 a {
      text-decoration: none;
      color: #000000;
      padding: 10px;
      border-radius: 5px;
    }
    .menu3 {
      display: flex;
      width: 300px;
      background: #c5c5c5;
      padding: 20px;
      gap: 10px;
      margin-top: 5px;
    }
    .menu3 button {
      display: flex;
      background: #ffffff;
      color: #000000;
      border: none;
      padding: 10px;
      cursor: pointer;
      width: 100px;
      margin-left: 100px;
    } 
    .menu3 a {
      text-decoration: none;
      color: #333;
      padding: 10px;
      border-radius: 5px;
    }
    .menu4 {
      display: flex;
      width: 300px;
      background: #c5c5c5;
      padding: 20px;
      gap: 10px;
      margin-top: 5px;
    }
    .menu4 button{
      display: flex;
      background: #ffffff;
      color: #000000;
      border: none;
      padding: 10px;
      cursor: pointer;
      width: 100px;
      margin-left: 100px;
    }
    .menu4 a {
      text-decoration: none;
      color: #333;
      padding: 10px;
      border-radius: 5px;
    }
