html, body {
      height: 100%;
      margin: 0;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .contenido {
      padding: 40px;
      background: #b9b9b9;
      width: 300px;
    }
    .contenido h1 {
      font-size: 24px;
      color: #000000;
      margin-top:-20px;
    }
    .contenido p {
      font-size: 15px;
      color: #000000;
      margin-top: 40px;
    }